In [1]:
userid_dict = {'user2':'오상혁','user3':'정태환','user4':'이정은'}

In [4]:
print(userid_dict.get('user5'))

None

In [5]:
import datetime

In [12]:
print(type(datetime.datetime.now().strftime('%Y%m%d')))

<class 'str'>

In [1]:
from server.genDummyData import *
import pandas as pd
pd.options.display.max_rows=999

In [2]:
df = genSHCTrans('user2',5000,'20190101','20191103')

In [7]:
df[df['가맹점명'].str.contains('왕십리|그린푸드|버스')]

                     승인일시      승인번호   승인금액 카드뒷세자리       가맹점번호    가맹점명
0    20190101000000000000  00000000   5000    513  0000000000  이마트왕십리
1    20190102000000000001  00000001   5000    513  0000000001  이마트왕십리
2    20190103000000000002  00000002  10000    513  0000000002  현대그린푸드
3    20190104000000000003  00000003  10000    513  0000000003  현대그린푸드
14   20190115000000000014  00000014  40000    513  0000000014    서울버스
15   20190116000000000015  00000015  40000    513  0000000015    서울버스
20   20190121000000000020  00000020   5000    513  0000000020  이마트왕십리
21   20190122000000000021  00000021   5000    513  0000000021  이마트왕십리
22   20190123000000000022  00000022  10000    513  0000000022  현대그린푸드
23   20190124000000000023  00000023  10000    513  0000000023  현대그린푸드
34   20190204000000000034  00000034  40000    513  0000000034    서울버스
35   20190205000000000035  00000035  40000    513  0000000035    서울버스
39   20190209000000000039  00000039   5000    513  0000000039  이마트왕십리
40   20190210000000000040  00000040   5000    513  0000000040  이마트왕십리
41   20190211000000000041  00000041  10000    513  0000000041  현대그린푸드
42   20190212000000000042  00000042  10000    513  0000000042  현대그린푸드
53   20190223000000000053  00000053  40000    513  0000000053    서울버스
54   20190224000000000054  00000054  40000    513  0000000054    서울버스
59   20190301000000000059  00000059   5000    513  0000000059  이마트왕십리
60   20190302000000000060  00000060   5000    513  0000000060  이마트왕십리
61   20190303000000000061  00000061  10000    513  0000000061  현대그린푸드
62   20190304000000000062  00000062  10000    513  0000000062  현대그린푸드
73   20190315000000000073  00000073  40000    513  0000000073    서울버스
78   20190320000000000078  00000078   5000    513  0000000078  이마트왕십리
79   20190321000000000079  00000079   5000    513  0000000079  이마트왕십리
80   20190322000000000080  00000080  10000    513  0000000080  현대그린푸드
81   20190323000000000081  00000081  10000    513  0000000081  현대그린푸드
92   20190403000000000092  00000092  40000    513  0000000092    서울버스
93   20190404000000000093  00000093  40000    513  0000000093    서울버스
98   20190409000000000098  00000098   5000    513  0000000098  이마트왕십리
99   20190410000000000099  00000099   5000    513  0000000099  이마트왕십리
100  20190411000000000100  00000100  10000    513  0000000100  현대그린푸드
101  20190412000000000101  00000101  10000    513  0000000101  현대그린푸드
111  20190422000000000111  00000111  40000    513  0000000111    서울버스
112  20190423000000000112  00000112  40000    513  0000000112    서울버스
117  20190428000000000117  00000117   5000    513  0000000117  이마트왕십리
118  20190429000000000118  00000118   5000    513  0000000118  이마트왕십리
119  20190430000000000119  00000119  10000    513  0000000119  현대그린푸드
120  20190501000000000120  00000120  10000    513  0000000120  현대그린푸드
131  20190512000000000131  00000131  40000    513  0000000131    서울버스
132  20190513000000000132  00000132  40000    513  0000000132    서울버스
137  20190518000000000137  00000137   5000    513  0000000137  이마트왕십리
138  20190519000000000138  00000138   5000    513  0000000138  이마트왕십리
139  20190520000000000139  00000139  10000    513  0000000139  현대그린푸드
140  20190521000000000140  00000140  10000    513  0000000140  현대그린푸드
150  20190531000000000150  00000150  40000    513  0000000150    서울버스
151  20190601000000000151  00000151  40000    513  0000000151    서울버스
156  20190606000000000156  00000156   5000    513  0000000156  이마트왕십리
157  20190607000000000157  00000157   5000    513  0000000157  이마트왕십리
158  20190608000000000158  00000158  10000    513  0000000158  현대그린푸드
159  20190609000000000159  00000159  10000    513  0000000159  현대그린푸드
170  20190620000000000170  00000170  40000    513  0000000170    서울버스
171  20190621000000000171  00000171  40000    513  0000000171    서울버스
176  20190626000000000176  00000176   5000    513  0000000176  이마트왕십리
177  20190627000000000177  00000177   5000    513  0000000177  이마트왕십리
178  20190628000000000178  00000178  10000    513  0000000178  현대그린푸드
179  20190629000000000179  00000179  10000    513  0000000179  현대그린푸드
189  20190709000000000189  00000189  40000    513  0000000189    서울버스
190  20190710000000000190  00000190  40000    513  0000000190    서울버스
195  20190715000000000195  00000195   5000    513  0000000195  이마트왕십리
196  20190716000000000196  00000196   5000    513  0000000196  이마트왕십리
197  20190717000000000197  00000197  10000    513  0000000197  현대그린푸드
198  20190718000000000198  00000198  10000    513  0000000198  현대그린푸드
209  20190729000000000209  00000209  40000    513  0000000209    서울버스
210  20190730000000000210  00000210  40000    513  0000000210    서울버스
215  20190804000000000215  00000215   5000    513  0000000215  이마트왕십리
216  20190805000000000216  00000216   5000    513  0000000216  이마트왕십리
217  20190806000000000217  00000217  10000    513  0000000217  현대그린푸드
218  20190807000000000218  00000218  10000    513  0000000218  현대그린푸드
228  20190817000000000228  00000228  40000    513  0000000228    서울버스
229  20190818000000000229  00000229  40000    513  0000000229    서울버스
234  20190823000000000234  00000234   5000    513  0000000234  이마트왕십리
235  20190824000000000235  00000235   5000    513  0000000235  이마트왕십리
236  20190825000000000236  00000236  10000    513  0000000236  현대그린푸드
237  20190826000000000237  00000237  10000    513  0000000237  현대그린푸드
248  20190906000000000248  00000248  40000    513  0000000248    서울버스
249  20190907000000000249  00000249  40000    513  0000000249    서울버스
254  20190912000000000254  00000254   5000    513  0000000254  이마트왕십리
255  20190913000000000255  00000255  10000    513  0000000255  현대그린푸드
256  20190914000000000256  00000256  10000    513  0000000256  현대그린푸드
267  20190925000000000267  00000267  40000    513  0000000267    서울버스
268  20190926000000000268  00000268  40000    513  0000000268    서울버스
273  20191001000000000273  00000273   5000    513  0000000273  이마트왕십리
274  20191002000000000274  00000274   5000    513  0000000274  이마트왕십리
275  20191003000000000275  00000275  10000    513  0000000275  현대그린푸드
276  20191004000000000276  00000276  10000    513  0000000276  현대그린푸드
287  20191015000000000287  00000287  40000    513  0000000287    서울버스
288  20191016000000000288  00000288  40000    513  0000000288    서울버스
292  20191020000000000292  00000292   5000    513  0000000292  이마트왕십리
293  20191021000000000293  00000293   5000    513  0000000293  이마트왕십리
294  20191022000000000294  00000294  10000    513  0000000294  현대그린푸드
295  20191023000000000295  00000295  10000    513  0000000295  현대그린푸드
306  20191103000000000306  00000306  40000    513  0000000306    서울버스
307  20190101000000000307  00000307  40000    513  0000000307    서울버스
312  20190106000000000312  00000312   5000    513  0000000312  이마트왕십리
313  20190107000000000313  00000313   5000    513  0000000313  이마트왕십리
314  20190108000000000314  00000314  10000    513  0000000314  현대그린푸드
315  20190109000000000315  00000315  10000    513  0000000315  현대그린푸드
326  20190120000000000326  00000326  40000    513  0000000326    서울버스
327  20190121000000000327  00000327  40000    513  0000000327    서울버스
331  20190125000000000331  00000331   5000    513  0000000331  이마트왕십리
332  20190126000000000332  00000332   5000    513  0000000332  이마트왕십리
333  20190127000000000333  00000333  10000    513  0000000333  현대그린푸드
334  20190128000000000334  00000334  10000    513  0000000334  현대그린푸드
345  20190208000000000345  00000345  40000    513  0000000345    서울버스
346  20190209000000000346  00000346  40000    513  0000000346    서울버스
351  20190214000000000351  00000351   5000    513  0000000351  이마트왕십리
352  20190215000000000352  00000352   5000    513  0000000352  이마트왕십리
353  20190216000000000353  00000353  10000    513  0000000353  현대그린푸드
354  20190217000000000354  00000354  10000    513  0000000354  현대그린푸드
364  20190227000000000364  00000364  40000    513  0000000364    서울버스
365  20190228000000000365  00000365  40000    513  0000000365    서울버스
370  20190305000000000370  00000370   5000    513  0000000370  이마트왕십리
371  20190306000000000371  00000371   5000    513  0000000371  이마트왕십리
372  20190307000000000372  00000372  10000    513  0000000372  현대그린푸드
373  20190308000000000373  00000373  10000    513  0000000373  현대그린푸드
384  20190319000000000384  00000384  40000    513  0000000384    서울버스
385  20190320000000000385  00000385  40000    513  0000000385    서울버스
390  20190325000000000390  00000390   5000    513  0000000390  이마트왕십리
391  20190326000000000391  00000391   5000    513  0000000391  이마트왕십리
392  20190327000000000392  00000392  10000    513  0000000392  현대그린푸드
393  20190328000000000393  00000393  10000    513  0000000393  현대그린푸드
403  20190407000000000403  00000403  40000    513  0000000403    서울버스
404  20190408000000000404  00000404  40000    513  0000000404    서울버스
409  20190413000000000409  00000409   5000    513  0000000409  이마트왕십리
410  20190414000000000410  00000410   5000    513  0000000410  이마트왕십리
411  20190415000000000411  00000411  10000    513  0000000411  현대그린푸드
412  20190416000000000412  00000412  10000    513  0000000412  현대그린푸드
423  20190427000000000423  00000423  40000    513  0000000423    서울버스
424  20190428000000000424  00000424  40000    513  0000000424    서울버스
429  20190503000000000429  00000429   5000    513  0000000429  이마트왕십리
430  20190504000000000430  00000430   5000    513  0000000430  이마트왕십리
431  20190505000000000431  00000431  10000    513  0000000431  현대그린푸드
432  20190506000000000432  00000432  10000    513  0000000432  현대그린푸드
442  20190516000000000442  00000442  40000    513  0000000442    서울버스
443  20190517000000000443  00000443  40000    513  0000000443    서울버스
448  20190522000000000448  00000448   5000    513  0000000448  이마트왕십리
449  20190523000000000449  00000449   5000    513  0000000449  이마트왕십리
450  20190524000000000450  00000450  10000    513  0000000450  현대그린푸드
451  20190525000000000451  00000451  10000    513  0000000451  현대그린푸드
462  20190605000000000462  00000462  40000    513  0000000462    서울버스
463  20190606000000000463  00000463  40000    513  0000000463    서울버스
468  20190611000000000468  00000468   5000    513  0000000468  이마트왕십리
469  20190612000000000469  00000469   5000    513  0000000469  이마트왕십리
470  20190613000000000470  00000470  10000    513  0000000470  현대그린푸드
471  20190614000000000471  00000471  10000    513  0000000471  현대그린푸드
481  20190624000000000481  00000481  40000    513  0000000481    서울버스
482  20190625000000000482  00000482  40000    513  0000000482    서울버스
487  20190630000000000487  00000487   5000    513  0000000487  이마트왕십리
488  20190701000000000488  00000488   5000    513  0000000488  이마트왕십리
489  20190702000000000489  00000489  10000    513  0000000489  현대그린푸드
490  20190703000000000490  00000490  10000    513  0000000490  현대그린푸드
501  20190714000000000501  00000501  40000    513  0000000501    서울버스
502  20190715000000000502  00000502  40000    513  0000000502    서울버스
507  20190720000000000507  00000507   5000    513  0000000507  이마트왕십리
508  20190721000000000508  00000508   5000    513  0000000508  이마트왕십리
509  20190722000000000509  00000509  10000    513  0000000509  현대그린푸드

In [1]:
from server.responseFunctions import *
import pandas as pd
import json
pd.options.display.max_rows=999

In [12]:
json.loads(login_func('user4'))

{'userid': 'user4', 'username': '이정은', 'total_salary': 96867052}

In [13]:
a=incomeDeduction1('user4',96867052)

In [14]:
json.loads(incomeDeductionResult(a))

{'userid': 'user4',
 'total_salary': 96867052,
 'total_deduce': 20602287,
 'std_assessment': 76264765,
 'tax_amt': 13083543,
 'acc_tax_ratio': 0.17155423739914494,
 'txt_msg': '4,600만원 초과, 8,800만원 이하 구간',
 'max_ratio': 0.24}

In [4]:
for i,j in a.items():
    if i.endswith('deduce'):
        print(i)

earned_income_deduce
pension_insurance_deduce
spec_income_deduce
crd_etc_deduce
public_trans_deduce
trad_market_deduce
book_deduce
house_saving_deduce
my_stock_deduce

In [8]:
dir('total_salary')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
for i,j in a.items():
    print(i, j, type(j))

userid user2 <class 'str'>
total_salary 66365324 <class 'int'>
earned_income_deduce 13068266 <class 'int'>
personal_allowance 1500000 <class 'int'>
pension_insurance_deduce 2424600 <class 'int'>
spec_income_deduce 4095479 <class 'int'>
crd_card_use 15190000 <class 'numpy.int64'>
deb_card_use 5485000 <class 'numpy.int64'>
cash_use 0 <class 'int'>
crd_etc_use_amt 20675000 <class 'int'>
crd_etc_deduce 1225100 <class 'int'>
crd_etc_deduce_huddle 16591331 <class 'int'>
public_trans_use 4215000 <class 'int'>
public_trans_deduce 1000000 <class 'int'>
trad_market_use 2125000 <class 'int'>
trad_market_deduce 850000 <class 'int'>
book_use 1975000 <class 'int'>
book_deduce 592500 <class 'int'>
house_saving 510000 <class 'int'>
house_saving_deduce 204000 <class 'int'>
my_stock 0 <class 'int'>
my_stock_deduce 0 <class 'int'>
etc_deduce 0 <class 'int'>
total_deduce 23459945 <class 'int'>

In [5]:
round(1028379, -4)

1030000

In [1]:
from server.genDummyData import genSHCBill

In [2]:
input_aprvamt = 5000
prev_y_df = genSHCBill('user2', input_aprvamt, '20180101', '20181231')

In [8]:
prev_y_df['적립예정포인트'] = prev_y_df['매출전표금액'] * prev_y_df['적립예정포인트율']

In [10]:
# 할인금액
prev_y_df['청구원금금액'].sum()/prev_y_df['매출전표금액'].sum()

0.988

In [11]:
prev_y_df['적립예정포인트'] = prev_y_df['매출전표금액'] * prev_y_df['적립예정포인트율']
prev_y_df['할인금액'] = prev_y_df['매출전표금액'] - prev_y_df['청구원금금액']
benefit_ratio = int(prev_y_df['적립예정포인트'].sum() + prev_y_df['할인금액'].sum()) / int(prev_y_df['매출전표금액'].sum())

In [12]:
benefit_ratio

0.018

In [14]:
from server.taxFunctions import *
import json

In [16]:
a = getTax(80000000)

In [17]:
a

(13980000, 0.17475, '4,600만원 초과, 8,800만원 이하 구간', 34000000, 0.24)

In [18]:
getBenefitPerUsage('user2',a[4],3000000,3000000,3000000,100000000,2000000,3000000)

(0, 0, 180, 180, 0)

In [19]:
def test():
    return 1,2,3,4,5

In [23]:
a,b,c,d,e = test()

In [1]:
from server.responseFunctions import *
import json

In [2]:
def variable_nm_change(input_dict):
    variable_nm_dict = {
        'userid': 'user id'
        ,'username': 'user name'
        ,'total_salary' : '총급여'
        ,'earned_income_deduce' : '소득공제금액'
        ,'personal_allowance' : '인적공제금액'
        ,'pension_insurance_deduce' : '연금보험료공제금액'
        ,'spec_income_deduce' : '특별소득공제금액'
        ,'crd_card_use' : '신용카드이용금액'
        ,'deb_card_use' : '체크카드이용금액'
        ,'cash_use' : '현금영수증이용금액'
        ,'crd_etc_use_amt' : '신용체크현금 이용금액합계'
        ,'crd_etc_deduce' : '신용체크현금영수증 소득공제금액'
        ,'crd_etc_deduce_hurdle' : '신용체크현금영수증 소득공제 허들'
        ,'public_trans_use' : '대중교통 이용금액'
        ,'public_trans_deduce' : '대중교통 소득공제금액'
        ,'trad_market_use' : '전통시장 이용금액'
        ,'trad_market_deduce' : '전통시장 소득공제금액'
        ,'book_use' : '도서/공연 이용금액'
        ,'book_deduce' : '도서/공연 소득공제금액'
        ,'house_saving' : '주택청약저축금액'
        ,'house_saving_deduce' : '주택청약저축 공제금액'
        ,'my_stock' : '우리사주조합출연금'
        ,'my_stock_deduce' : '우리사주조합출연금 공제금액'
        ,'etc_deduce' : '기타 공제금액'
        ,'total_deduce' : '공제금액합계'
        ,'householder_tf' : '유주택TF'
        ,'n_of_members' : '인적공제대상 인원'

        ,'std_assessment' : '과세표준금액'
        ,'tax_amt' : '산출세액'
        ,'acc_tax_ratio' : '누적세율'
        ,'txt_msg': '적용구간(텍스트)'
        ,'max_ratio' : '현재적용세율(최대세율)'
        ,'huddle_remains' : '신용/체크/현금 소득공제 문턱 잔여금액'

        ,'crd_tax_benefit' : '신용카드 절세금액(1만원당)'
        ,'deb_cash_tax_benefit' : '체크/현금 절세금액(1만원당)'
        ,'crd_benefit' : '신용카드 혜택금액(1만원당)'
        ,'crd_benefit_ratio' : '신용카드 혜택율'
        ,'crd_benefit_sum' : '신용카드 혜택합계(1만원당 절세금액 + 카드혜택)'

        ,'public_trans_deduce_limit' : '대중교통 공제한도'
        ,'public_trans_benefit' : '대중교통 절세금액(1만원당)'
        ,'trad_markeet_deduce_limit' : '전통시장 공제한도'
        ,'trad_market_benefit' : '전통시장 절세금액(1만원당)'}
    output_dict = {}
    for key, value in input_dict.items():
        output_key = variable_nm_dict.get(key)
        if output_key ==None:
            output_key = key
        output_dict[output_key] = value
    return output_dict

In [3]:
userid='user2'

In [4]:
login_response = login_func(userid)

In [5]:
login_response_dict = json.loads(login_response)

In [6]:
variable_nm_change(login_response_dict)

{'user id': 'user2', 'user name': '오상혁', '총급여': 66365324}

In [7]:
summary_response = summary(userid, login_response_dict['total_salary'])

In [8]:
summary_response_dict = json.loads(summary_response)

In [10]:
variable_nm_change(summary_response_dict)

{'user id': 'user2',
 '총급여': 66365324,
 '소득공제금액': 13068266,
 '인적공제금액': 1500000,
 '연금보험료공제금액': 2424600,
 '특별소득공제금액': 4095479,
 '신용카드이용금액': 12915000,
 '체크카드이용금액': 4655000,
 '현금영수증이용금액': 0,
 '신용체크현금 이용금액합계': 17570000,
 '신용체크현금영수증 소득공제금액': 293600,
 '신용체크현금영수증 소득공제 허들': 16591331,
 '대중교통 이용금액': 4995000,
 '대중교통 소득공제금액': 1000000,
 '전통시장 이용금액': 2495000,
 '전통시장 소득공제금액': 998000,
 '도서/공연 이용금액': 2525000,
 '도서/공연 소득공제금액': 757500,
 '주택청약저축금액': 510000,
 '주택청약저축 공제금액': 204000,
 '우리사주조합출연금': 0,
 '우리사주조합출연금 공제금액': 0,
 '기타 공제금액': 0,
 '공제금액합계': 22841445}

In [13]:
2495000*0.4

998000.0

In [15]:
summary_response_dict['householder_tf'] = 1
summary_response_dict['trad_market_use'] += 100000000
summary_response_dict['n_of_members'] = 1

In [16]:
summary_response_dict

{'userid': 'user2',
 'total_salary': 66365324,
 'earned_income_deduce': 13068266,
 'personal_allowance': 1500000,
 'pension_insurance_deduce': 2424600,
 'spec_income_deduce': 4095479,
 'crd_card_use': 12915000,
 'deb_card_use': 4655000,
 'cash_use': 0,
 'crd_etc_use_amt': 17570000,
 'crd_etc_deduce': 293600,
 'crd_etc_deduce_hurdle': 16591331,
 'public_trans_use': 4995000,
 'public_trans_deduce': 1000000,
 'trad_market_use': 102495000,
 'trad_market_deduce': 998000,
 'book_use': 2525000,
 'book_deduce': 757500,
 'house_saving': 510000,
 'house_saving_deduce': 204000,
 'my_stock': 0,
 'my_stock_deduce': 0,
 'etc_deduce': 0,
 'total_deduce': 22841445,
 'householder_tf': 1,
 'n_of_members': 1}

In [20]:
detail_response = detail(json.dumps(summary_response_dict))

In [10]:
json.loads(detail_response)

{'userid': 'user2',
 'total_salary': 66365324,
 'earned_income_deduce': 13068266,
 'personal_allowance': 3000000,
 'pension_insurance_deduce': 2424600,
 'spec_income_deduce': 4095479,
 'crd_card_use': 12915000,
 'deb_card_use': 4655000,
 'cash_use': 10000,
 'crd_etc_use_amt': 17580000,
 'crd_card_deduce_valid_amt': -3676331,
 'deb_cash_deduce_valid_amt': 4665000,
 'crd_etc_deduce': 296600,
 'crd_etc_deduce_huddle': 16591331,
 'crd_etc_deduction_limit': 3000000,
 'public_trans_use': 4995000,
 'public_trans_deduce': 1000000,
 'trad_market_use': 2495000,
 'trad_market_deduce': 998000,
 'book_use': 2525000,
 'book_deduce': 757500,
 'house_saving': 510000,
 'house_saving_deduce': 0,
 'my_stock': 0,
 'my_stock_deduce': 0,
 'etc_deduce': 0,
 'total_deduce': 22640445,
 'std_assessment': 43724879,
 'tax_amt': 5478731,
 'acc_tax_ratio': 0.12530010317467086,
 'txt_msg': '1,200만원 초과, 4,600만원 이하 구간',
 'max_ratio': 0.15,
 'huddle_remains': -988669.0,
 'crd_tax_benefit': 450,
 'deb_cash_tax_benefit': 450,
 'crd_benefit': 180,
 'crd_benefit_ratio': 0.018,
 'crd_benefit_sum': 630,
 'public_trans_deduce_limit': 1000000,
 'public_trans_benefit': 600.0,
 'trad_market_deduce_limit': 1000000,
 'trad_market_benefit': 600.0}

In [5]:
from server.taxFunctions import *

In [6]:
getInsertComma(10123120000000)

'10,123,120,000,000'

In [1]:
from server.genDummyData import *

In [2]:
crd_card_df = genSHCTrans('user2',5000,'20190101','20191123')

In [3]:
deb_card_df = genSHDTrans('user2',5000,'20190101','20191123')

In [4]:
crd_card_df['구분'] = '신용'

In [5]:
deb_card_df['구분'] = '체크'

In [7]:
crd_card_df

                     승인일시      승인번호   승인금액 카드뒷세자리       가맹점번호       가맹점명  구분
0    20190101000000000000  00000000   5000    773  0000000000     이마트왕십리  신용
1    20190102000000000001  00000001   5000    773  0000000001        보건옥  신용
2    20190103000000000002  00000002  10000    773  0000000002     만족오향족발  신용
3    20190104000000000003  00000003  15000    773  0000000003  라화쿵부명동2호점  신용
4    20190105000000000004  00000004  20000    773  0000000004        가야성  신용
..                    ...       ...    ...    ...         ...        ...  ..
768  20190425000000000768  00000768  20000    773  0000000768        호반집  신용
769  20190426000000000769  00000769  25000    773  0000000769       XX도서  신용
770  20190427000000000770  00000770  30000    773  0000000770       장칼국수  신용
771  20190428000000000771  00000771  35000    773  0000000771     만족오향족발  신용
772  20190429000000000772  00000772  40000    773  0000000772     알촌한양대점  신용

[773 rows x 7 columns]

In [2]:
shcSearchUseforDomestic('','')

             승인일시      승인번호   승인금액 카드뒷세자리 가맹점번호  가맹점명
0  20190712071721  09106849  20000    314  None  올댓쇼핑

In [ ]:
nextkey1		string	다음조회KEY
grp001 [{ },,,]		group	반복시작(그룹ID)
aprvtime		string	승인일시
aprvno		string	승인번호
aprvamt		string	승인금액
membertag		string	회원구분코드
brandtag		string	브랜드구분코드
cardno		string	카드 뒷세자리
retlno		string	가맹점번호
retlname		string	가맹점명
insmon		string	할부개월
stldate		string	결제예정일자
ueC		string	이용구분
status		string	상태
subCla		string	부분취소금액
grp001 [{ },,,]		group	반복종료(그룹ID)

In [6]:
deb_card_df

                     승인일시      승인번호   승인금액 카드뒷세자리       가맹점번호        가맹점명  구분
0    20190101000000000000  00000000   5000    688  0000000000        서울버스  체크
1    20190102000000000001  00000001   5000    688  0000000001       교대이층집  체크
2    20190103000000000002  00000002  10000    688  0000000002  GS25 나라키움점  체크
3    20190104000000000003  00000003  15000    688  0000000003      이마트왕십리  체크
4    20190105000000000004  00000004  15000    688  0000000004         보건옥  체크
..                    ...       ...    ...    ...         ...         ...  ..
683  20190130000000000683  00000683  15000    688  0000000683   아재커피지로2가점  체크
684  20190131000000000684  00000684   5000    688  0000000684      현대그린푸드  체크
685  20190201000000000685  00000685   5000    688  0000000685         가야성  체크
686  20190202000000000686  00000686  10000    688  0000000686        XX도서  체크
687  20190203000000000687  00000687  15000    688  0000000687        서울버스  체크

[688 rows x 7 columns]

In [8]:
card_df = pd.concat([crd_card_df,deb_card_df]).sort_values('승인일시', ascending=False)

In [9]:
card_df = card_df[~card_df['가맹점명'].str.contains('지방세|세금|상품권')].reset_index(drop=True)

In [11]:
card_df.head()

                   승인일시      승인번호   승인금액 카드뒷세자리       가맹점번호    가맹점명  구분
0  20191123000000000653  00000653  15000    688  0000000653   리틀사이공  체크
1  20191123000000000653  00000653  30000    773  0000000653  만족오향족발  신용
2  20191123000000000326  00000326  15000    688  0000000326  현대그린푸드  체크
3  20191123000000000326  00000326  15000    773  0000000326  카페드비반트  신용
4  20191122000000000652  00000652  15000    688  0000000652   서울지하철  체크

In [43]:
output_list=[]
for row in card_df.iterrows():
    output_dict ={}
    output_dict['apv_d'] = '{}년{}월{}일'.format(row[1]['승인일시'][0:4],row[1]['승인일시'][4:6],row[1]['승인일시'][6:8])
    output_dict['crd_tcd'] = row[1]['구분']
    output_dict['apv_amt'] = '{}원'.format(getInsertComma(row[1]['승인금액']))
    output_dict['mct_nm'] = row[1]['가맹점명']
    output_list.append(output_dict)

In [49]:
output_list[0]

{'apv_d': '2019년11월23일',
 'crd_tcd': '신용',
 'apv_amt': '30,000원',
 'mct_nm': 'XX도서'}

In [13]:
int(round(1.9))

2

In [ ]:
승인일자, 구분, 승인금액, 가맹점명, 혜택(절세혜택 + 카드혜택)

In [1]:
from server.api_request import *
from server.genDummyData import *
from server.taxFunctions import *

In [5]:
prev_y_df = shcSearchMonthlyBillingDetail('2018')

In [10]:
int(prev_y_df['매출전표금액'][0])

4500

In [12]:
prev_y_df = shcSearchMonthlyBillingDetail('2018')
input_aprvamt = int(prev_y_df['매출전표금액'][0])
cardno = prev_y_df['이용카드뒷세자리'][0]
prev_y_df = pd.concat([prev_y_df,genSHCBill('user2', input_aprvamt, cardno, '20180101', '20181231')])

In [13]:
prev_y_df

     매출전표금액 이용카드뒷세자리       이용가맹점명  적립예정포인트율  청구원금금액      매출일자
0      4500      314  GS25 무교YG타워     0.050    4500  20190607
1     31950      314         올댓쇼핑     0.050   31950  20190614
2     27500      314         올댓쇼핑     0.100   27500  20190614
0      4500      314       이마트왕십리     0.006    4467  20180101
1      4500      314          가야성     0.006    4467  20180102
..      ...      ...          ...       ...     ...       ...
572    4500      314          호반집     0.006    4467  20180727
573    4500      314       알촌한양대점     0.006    4467  20180728
574    2250      314       현대그린푸드     0.006    2233  20180729
575    2250      314          보건옥     0.006    2233  20180730
576    4500      314        서울지하철     0.006    4467  20180731

[580 rows x 6 columns]

In [2]:
shcSearchMonthlyBillingDetail('')

   매출전표금액 이용카드뒷세자리       이용가맹점명  적립예정포인트율  청구원금금액      매출일자
0    4500      314  GS25 무교YG타워      0.05    4500  20190607
1   31950      314         올댓쇼핑      0.05   31950  20190614
2   27500      314         올댓쇼핑      0.10   27500  20190614

In [8]:
int('00050')/1000

0.05

In [3]:
genSHCBill('user2', 5000, '302', '20180101', '20181231')

     매출전표금액 이용카드뒷세자리  이용가맹점명  적립예정포인트율  청구원금금액      매출일자
0      5000      302  이마트왕십리     0.006    4964  20180101
1      5000      302     가야성     0.006    4964  20180102
2      2500      302    서울버스     0.006    2482  20180103
3      2500      302  카페드비반트     0.006    2482  20180104
4      5000      302    남해바다     0.006    4964  20180105
..      ...      ...     ...       ...     ...       ...
572    5000      302     호반집     0.006    4964  20180727
573    5000      302  알촌한양대점     0.006    4964  20180728
574    2500      302  현대그린푸드     0.006    2482  20180729
575    2500      302     보건옥     0.006    2482  20180730
576    5000      302   서울지하철     0.006    4964  20180731

[577 rows x 6 columns]

In [8]:
shbAccountList('').text

'{\r\n "dataHeader":\r\n{\r\n "successCode":"0",\r\n "resultCode":"",\r\n "resultMessage":""\r\n},\r\n"dataBody":\r\n{\r\n "거래구분":"9",\r\n "고객성명":"홍길동",\r\n "총금액":"67190457",\r\n "총금액_MASK":"67,190,457",\r\n "수익증권총금액":"23929069",\r\n "수익증권총금액_MASK":"23,929,069",\r\n "외화총금액":"331.77",\r\n "외화총금액_MASK":"331.77",\r\n "대출총금액":"11859753.00",\r\n "대출총금액_MASK":"11,859,753.00",\r\n "반복횟수":"1",\r\n "예금내역":[\r\n             {\r\n              "예금종류":"1",\r\n              "계좌구분":"",\r\n              "계좌번호":"110184647880",\r\n              "계좌번호_MASK":"110-184-64788",\r\n              "과목명":"",\r\n              "신규일":"20051128",\r\n              "신규일_MASK":"2005.12.05",\r\n              "만기일":"20051128",\r\n              "만기일_MASK":"2005.12.05",\r\n              "잔액부호":"",\r\n              "잔액":"471524",\r\n              "잔액_MASK":"471,524",\r\n              "한도승인금액":"",\r\n              "한도승인금액_MASK":"",\r\n              "평가금액":"",\r\n              "평가금액_MASK":"",\r\n              "은행구분":"",\r\n              "구계좌번호":"",\r\n              "신계좌변환여부":"",\r\n              "평생계좌번호":"",\r\n              "관리점번호":""\r\n             }\r\n            ]\r\n}\r\n}'

In [6]:
df = shbAccountTrans(shbAccountList(''),'20190101','20191231')

In [7]:
df

  입지구분    입금     출금 적요 거래점
0    1  5000      0
1    2     0  10000

In [4]:
genSHBAccountTrans('user2')

   입지구분       입금    출금     적요 거래점
0     0        0  5000  blah1
1     1     5000     0  blah1
2     1     5000     0  blah2
3     1     5000     0  blah2
4     1     5000     0  blah3
5     0        0  5000  blah3
6     1     5000     0  blah4
7     1     5000     0  blah4
8     0        0  5000  blah5
9     0        0  5000  blah5
10    1     5000     0  blah6
11    1     5000     0  blah6
12    0        0  5000  blah7
13    1     5000     0  blah7
14    1  5000000     0     급여
15    1  5000000     0     급여
16    1  5000000     0     급여
17    1  5000000     0     급여
18    1  5000000     0     급여
19    1  5000000     0     급여
20    0        0  5000  blah1
21    0        0  5000  blah1
22    0        0  5000  blah2
23    0        0  5000  blah2
24    0        0  5000  blah3
25    0        0  5000  blah3
26    0        0  5000  blah4
27    0        0  5000  blah4
28    0        0  5000  blah5
29    0        0  5000  blah5
30    0        0  5000  blah6
31    0        0  5000  blah6
32    0        0  5000  blah7
33    0        0  5000  blah7
34    1  5000000     0     급여
35    1  5000000     0     급여
36    1  5000000     0     급여
37    1  5000000     0     급여
38    1  5000000     0     급여
39    0        0  5000  blah1
40    0        0  5000  blah1
41    0        0  5000  blah2
42    0        0  5000  blah2
43    0        0  5000  blah3
44    0        0  5000  blah3
45    0        0  5000  blah4
46    0        0  5000  blah4
47    0        0  5000  blah5
48    0        0  5000  blah5
49    0        0  5000  blah6
50    0        0  5000  blah6

In [5]:
pd.concat([shbAccountTrans(shbAccountList(''),'20190101','20191231'),genSHBAccountTrans('user2')])

   입지구분       입금     출금     적요 거래점
0     1     5000      0
1     2        0  10000
0     0        0   5000  blah1
1     1     5000      0  blah1
2     1     5000      0  blah2
3     1     5000      0  blah2
4     1     5000      0  blah3
5     0        0   5000  blah3
6     1     5000      0  blah4
7     1     5000      0  blah4
8     0        0   5000  blah5
9     0        0   5000  blah5
10    1     5000      0  blah6
11    1     5000      0  blah6
12    0        0   5000  blah7
13    1     5000      0  blah7
14    1  5000000      0     급여
15    1  5000000      0     급여
16    1  5000000      0     급여
17    1  5000000      0     급여
18    1  5000000      0     급여
19    1  5000000      0     급여
20    0        0   5000  blah1
21    0        0   5000  blah1
22    0        0   5000  blah2
23    0        0   5000  blah2
24    0        0   5000  blah3
25    0        0   5000  blah3
26    0        0   5000  blah4
27    0        0   5000  blah4
28    0        0   5000  blah5
29    0        0   5000  blah5
30    0        0   5000  blah6
31    0        0   5000  blah6
32    0        0   5000  blah7
33    0        0   5000  blah7
34    1  5000000      0     급여
35    1  5000000      0     급여
36    1  5000000      0     급여
37    1  5000000      0     급여
38    1  5000000      0     급여
39    0        0   5000  blah1
40    0        0   5000  blah1
41    0        0   5000  blah2
42    0        0   5000  blah2
43    0        0   5000  blah3
44    0        0   5000  blah3
45    0        0   5000  blah4
46    0        0   5000  blah4
47    0        0   5000  blah5
48    0        0   5000  blah5
49    0        0   5000  blah6
50    0        0   5000  blah6

In [9]:
shcSearchUseforDomestic('20190101','20191132', 1)

             승인일시      승인번호   승인금액 카드뒷세자리       가맹점번호      가맹점명
0  20190725095011  47539490  19900    318  0106899164  카카오_카카오페

In [6]:
crd_card_df = shcSearchUseforDomestic('20190101','20191132', 0)
input_aprvamt= int(crd_card_df['승인금액'][0])
cardno = crd_card_df['카드뒷세자리'][0]
crd_card_df = pd.concat([crd_card_df,genSHCTrans('user2', input_aprvamt, cardno, '20190101', '20191123')])
crd_card_df

               승인일시      승인번호    승인금액 카드뒷세자리       가맹점번호       가맹점명
0    20190712071721  09106849   20000    314        None       올댓쇼핑
0    20190101000000  00000000   20000    314  0000000000     이마트왕십리
1    20190102000001  00000001   20000    314  0000000001        보건옥
2    20190103000002  00000002   40000    314  0000000002     만족오향족발
3    20190104000003  00000003   60000    314  0000000003  라화쿵부명동2호점
..              ...       ...     ...    ...         ...        ...
768  20190425000768  00000768   80000    314  0000000768        호반집
769  20190426000769  00000769  100000    314  0000000769       XX도서
770  20190427000770  00000770  120000    314  0000000770       장칼국수
771  20190428000771  00000771  140000    314  0000000771     만족오향족발
772  20190429000772  00000772  160000    314  0000000772     알촌한양대점

[774 rows x 6 columns]

In [20]:
shcSearchUseforDomestic('','')

{'dataHeader': {'successCode': '0',
  'resultCode': '0004',
  'reqKey': None,
  'resultMessage': '성공적으로 조회 되었습니다.'},
 'dataBody': {'nxtQyKey': '',
  'grp001': [{'retlname': '올댓쇼핑',
    'subCla': '000000000000',
    'ueC': 'A',
    'insmon': '00',
    'aprvamt': '000000020000',
    'status': '',
    'aprvno': '09106849',
    'aprvtime': '20190712071721',
    'cardno': '314',
    'stldate': ''}]}}

In [13]:
from server.responseFunctions import *

In [14]:
userid = 'user2'
json.loads(login_func(userid))

{'userid': 'user2', 'username': '오상혁', 'total_salary': 66365324}

In [15]:
summary_func_input_dict = json.loads(login_func(userid))

In [16]:
json.loads(summary_func(summary_func_input_dict['userid'],summary_func_input_dict['total_salary']))

{'userid': 'user2',
 'username': '오상혁',
 'total_salary': 66365324,
 'earned_income_deduce': 13068266,
 'n_of_members': 1,
 'personal_allowance_deduce': 1500000,
 'pension_insurance_deduce': 2424600,
 'spec_income_deduce': 4095479,
 'crd_card_use': 10960000,
 'deb_card_use': 9780850,
 'cash_use': 0,
 'crd_etc_use_amt': 20740850,
 'crd_etc_deduce': 1244855,
 'crd_etc_deduce_hurdle': 16591331,
 'public_trans_use': 2344650,
 'public_trans_deduce': 937860,
 'trad_market_use': 1137150,
 'trad_market_deduce': 454860,
 'book_use': 1227100,
 'book_deduce': 368130,
 'house_saving': 510000,
 'householder_tf': 0,
 'house_saving_deduce': 204000,
 'my_stock': 0,
 'my_stock_deduce': 0,
 'etc_deduce': 0,
 'total_deduce': 24298050}

In [17]:
detail_func_input_dict = json.loads(summary_func(summary_func_input_dict['userid'],summary_func_input_dict['total_salary']))

In [20]:
detail_func_input_dict['crd_card_use'] = 16591331

In [21]:
json.loads(detail_func(detail_func_input_dict))

{'userid': 'user2',
 'username': '오상혁',
 'total_salary': 66365324,
 'earned_income_deduce': 13068266,
 'n_of_members': 1,
 'personal_allowance_deduce': 1500000,
 'pension_insurance_deduce': 2424600,
 'spec_income_deduce': 4095479,
 'crd_card_use': 16591331,
 'deb_card_use': 9780850,
 'cash_use': 0,
 'crd_etc_use_amt': 26372181,
 'crd_card_deduce_valid_amt': 0,
 'deb_cash_deduce_valid_amt': 9780850,
 'crd_etc_deduce': 2934255,
 'crd_etc_deduce_hurdle': 16591331,
 'crd_etc_deduction_limit': 3000000,
 'public_trans_use': 2344650,
 'public_trans_deduce': 937860,
 'trad_market_use': 1137150,
 'trad_market_deduce': 454860,
 'book_use': 1227100,
 'book_deduce': 368130,
 'house_saving': 510000,
 'householder_tf': 0,
 'house_saving_deduce': 204000,
 'my_stock': 0,
 'my_stock_deduce': 0,
 'etc_deduce': 0,
 'total_deduce': 25987450,
 'std_assessment': 40377874,
 'tax_amt': 4976681,
 'acc_tax_ratio': 0.1232526779394081,
 'txt_msg': '1,200만원 초과, 4,600만원 이하 구간',
 'max_ratio': 0.15,
 'hurdle_remains': -9780850.0,
 'crd_tax_benefit': 225,
 'deb_cash_tax_benefit': 450,
 'crd_benefit': 152,
 'crd_benefit_ratio': 0.015253049765211558,
 'crd_benefit_sum': 377,
 'crd_etc_strategy': '신용체크현금 항목의 소득공제를 받기위한 최소 문턱(16,591,331원)은 넘었습니다! 지금 사용하시는 금액은 일정비율(이용금액 x 공제비율 15~30% x 현재 적용세율 15%)만큼 절세 혜택으로 돌아갑니다. 신용카드와 체크/현금을 이용했을 때 기대 혜택이 더 큰 체크카드/현금을 이용하시면 좋습니다!',
 'recent_crd_deb_use_list': [{'apv_d': '11.23.',
   'crd_tcd': '신용',
   'apv_amt': 10000,
   'mct_nm': '만족오향족발',
   'benefit': 377},
  {'apv_d': '11.23.',
   'crd_tcd': '체크',
   'apv_amt': 9950,
   'mct_nm': '리틀사이공',
   'benefit': 448},
  {'apv_d': '11.23.',
   'crd_tcd': '신용',
   'apv_amt': 20000,
   'mct_nm': '카페드비반트',
   'benefit': 754},
  {'apv_d': '11.23.',
   'crd_tcd': '체크',
   'apv_amt': 19900,
   'mct_nm': '현대그린푸드',
   'benefit': 896},
  {'apv_d': '11.22.',
   'crd_tcd': '신용',
   'apv_amt': 20000,
   'mct_nm': '보건옥',
   'benefit': 754}],
 'public_trans_deduce_limit': 1000000,
 'trad_market_deduce_limit': 1000000,
 'public_trans_benefit': 600.0,
 'trad_market_benefit': 600.0}

In [22]:
uri_list = ['/v1/transfer/krw',
'/v1/transfer/foreign-stock',
'/v2/stocks/balance-check',
'/v1/search/transaction/history',
'/v1/search/bankcode',
'/v1/search/realname',
'/v1/account/list',
'/v1/account/deposit/detail',
'/v1/account/loan/detail',
'/v1/account/foreign-stock/detail',
'/v1/account/fund/detail',
'/v1/account/investment-trust/detail',
'/v1/account/isa/detail',
'/v1/account/bancassurance/detail',
'/v1/houselease/creditline',
'/v1/auth/1wontransfer',
'/v1/search/realtime-fx/period',
'/v1/search/realtime-fx/count',
'/v1/search/branch-category/keyword',
'/v1/search/branch-category/city',
'/v1/solpay/qr-payment']
shb_request_data = {"dataHeader":{},"dataBody":{}}
shbIP = 'http://10.3.17.61:8080'

In [23]:
from server.tmp_api import *

In [25]:
for i in uri_list:
    try:
        header = tmp_api_func(shbIP,i,shb_request_data).json()['dataHeader']
    except:
        print(i)
        continue
    if '당첨' in tmp_api_func(shbIP,i,shb_request_data).json()['dataHeader']['resultMessage']:
        print(tmp_api_func(shbIP,i,shb_request_data).json())

/v1/transfer/krw
/v1/transfer/foreign-stock
/v2/stocks/balance-check
/v1/search/transaction/history
/v1/search/bankcode
/v1/search/realname
/v1/account/list
/v1/account/deposit/detail
/v1/account/loan/detail
/v1/account/foreign-stock/detail
/v1/account/fund/detail
/v1/account/investment-trust/detail
/v1/account/isa/detail
/v1/account/bancassurance/detail
/v1/houselease/creditline
/v1/auth/1wontransfer
/v1/search/realtime-fx/period
/v1/search/realtime-fx/count
/v1/search/branch-category/keyword
/v1/search/branch-category/city
/v1/solpay/qr-payment